@import "ProductDetails/ProductDetails";
@import "StatusDerivation/StatusDerivation";

.detail-area {
	.detail-area-block {
		margin-bottom: $element-margin-bottom;
		@include media-breakpoint-up(uhd) {
			margin-bottom: $uhd-element-margin-bottom;
		}
	}
	.area-title {
		font-size: 2.4vh;
		margin-bottom: 20px;
		@include media-breakpoint-down(xs) {
			margin-bottom: 10px;
		}
	}
}