# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
*.css

# misc
.DS_Store
.env
npm-debug.log

#IDEA
.idea/
*.iml

#Development
dev-resources/
*.css
src/config/argosConfig.js
