a.prediction-view {
  cursor: pointer;
}

@include media-breakpoint-up(xlg) {
  .prediction-view .modal-lg {
    max-width: 95%;
  }
}

@include media-breakpoint-up(uhd) {
  .prediction-view .modal-lg {
    max-width: 95%;
  }
}