header {
	padding: 5px, 0px;

	.product-icon {
		height: 50px;
		@include media-breakpoint-up(uhd) {
			height: 120px;
		}
	}
	
	.settings-icon {
		color: $COLOR-font-light;
		font-size: 30px;
		cursor: pointer;
	}
}
