.ProductCardTitle {
  width: 100%;
  text-align: center;
  padding: 0.6vw 0 0.5vw 0;
  border-bottom: 1px solid white;
  font-size: 1.6vh;
  color: white; }

.ProductCardTitle_RUNNING {
  background: #B1BE6C !important; }

.ProductCardTitle_WARNING {
  background: #F0A57B !important; }

.ProductCardTitle_ERROR {
  background: #DF737A !important; }
