@import "../definitions.scss";
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, p, div, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, "Helvetica", sans-serif;
}

.AppWrapper {
  height: 100%;
}

a, p, h1, h2, h3, h4, h5, span, a:hover {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 2.5vh;
}

h2 {
  font-size: 2.2vh;
}

h3 {
  font-size: 1.9vh;
}

h4 {
  font-size: 1.7vh;
}

.input-group {
  #search-addon {
    background-color: transparent;
    color: $COLOR-dark-background;
    border-color: $COLOR-dark-background;
    border-style: none none solid none;
    border-radius: 0;
  }
  input, input:focus {
    border-color: $COLOR-dark-background;
    border-style: none none solid none;
    border-radius: 0;
  }
}