@font-face {
  font-family: 'Glyphter';
  src: url("../assets/fonts/icons/Glyphter.eot");
  src: url("../assets/fonts/icons/Glyphter.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/icons/Glyphter.woff") format("woff"), url("../assets/fonts/icons/Glyphter.ttf") format("truetype"), url("../assets/fonts/icons/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal; }
