@import "EventTypes/EventTypes";
.card-header h5 a {
  color: $COLOR-font-dark !important;
}

header .settings a, header .settings p, header .settings a:hover, header .settings h1, header .settings {
  color: $COLOR-font-dark !important;
}

.settings-icon {
  color: $COLOR-font-light;
  font-size: 35px;
  @include media-breakpoint-up(uhd) {  
    font-size: 80px;
  }
  cursor: pointer;
}