input.form-control[readonly] {
  color: #999999;
  border-color: #999999;
  background-color: white;
}
#exampleSelect1[readonly] {
  color: #999999;
  border-color: #999999;
  background-color: white;

}

#exampleSelect1 {
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;

}