input.form-control[readonly] {
  color: #999999;
  border-color: #999999;
  background-color: white;
}

select[readonly] {
  color: #999999;
  border: 0;
  border-bottom: 1px solid $COLOR-dark-background;
}