@font-face {
  font-family: 'Glyphter';
  src: url("../assets/fonts/icons/Glyphter.eot");
  src: url("../assets/fonts/icons/Glyphter.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/icons/Glyphter.woff") format("woff"), url("../assets/fonts/icons/Glyphter.ttf") format("truetype"), url("../assets/fonts/icons/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal; }

.ProductCardTitle {
  width: 100%;
  text-align: center;
  padding: 0.5vw 2vw;
  border-bottom: 1px solid white;
  font-size: 1.6vh; }

.ProductCardTitle_success {
  background: #689F38 !important; }

.ProductCardTitle_warning {
  background: #FFA000 !important; }

.ProductCardTitle_error {
  background: #E64A19 !important; }
