.form-group {
  margin: 0 10px 5px 10px;
}
#configurationHeader select {
  background-color: inherit;
  color: $COLOR-font-light;
  border-style: none;
  width: auto;
  padding: 10px 10px;
}
#configurationHeader option {
  background-color: $COLOR-dark_background;
}
