.container {
	max-width: 900px;
	margin: 0 auto;
}

.d-flex {
	display: flex;
}

.flex-direction-column {
	flex-direction: column;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.rotate-90 {
	transform: rotate(90deg);
}

.w-50 {
	width: 50%;
}

.w-100 {
	width: 100% !important;
}