.pAbsolute {
	position: absolute;
}

.pRelative {
	position: relative;
}

.dFlex {
	display: flex;
}

.flexDirectionColumn {
	flex-direction: column;
}

.justifyContentCenter {
	justify-content: center;
}

.flexBasis100 {
	flex-basis: 100%;
}

.flexGrow1 {
	flex-grow: 1;
}

.flexWrap {
	flex-wrap: wrap;
}

.r0 {
	right: 0;
}

.t {
	top: 0;
}

.alignItemsCenter {
	align-items: center;
}

.alignItemsFlexEnd {
	align-items: flex-end;
}

.verticalAlignTop {
	vertical-align: top !important;
}

.textAlignCenter {
	text-align: center;
}

.rotate90 {
	transform: rotate(90deg);
}

.w50 {
	width: 50%;
}

.w100 {
	width: 100%;
}

.elementMarginTop {
	margin-top: 30px;
}

.marginAllSites {
	margin: 30px;
}

.noMargin {
	margin: 0 !important;
}

.headerBorderDetail {
	border-bottom: 10px solid;
}

.capitalize {
	text-transform: capitalize;
	font-weight: bold;
}

.fontSize24 {
	font-size: 24px;
}

.h400 {
	height: 400px
}

.alignContentCenter {
	align-content: center;
}

.showOnHover {
	opacity: 0;
}

.showOnHover:hover {
	opacity: 1;
}

.containerMarginTop {
	margin-top: 64px
}

.pAbsolute {
	position: absolute
}

.pRelative {
	position: relative
}

.dFlex {
	display: flex;
}

.flexDirectionColumn {
	flex-direction: column
}

.flexDirectionRow {
	flex-direction: row;
}

.justifyContentCenter {
	justify-content: center;
}

.justifyContentSpace {
	justify-content: space-between;
}

.flexBasis100 {
	flex-basis: 100%;
}

.flexGrow1 {
	flex-grow: 1;
}

.flexWrap {
	flex-wrap: wrap;
}

.floatRight {
	float: right
}

.autoOverFlow {
	overflow: auto
}

.r0 {
	right: 0
}

.alignItemsCenter {
	align-items: center
}

.alignItemsFlexEnd {
	align-items: flex-end
}

.textAlignCenter {
	text-align: center
}

.rotate90 {
	transform: rotate(90deg)
}

.w50 {
	width: 50%
}

.w100 {
	width: 100%
}

.lineHeight25 {
	line-height: 25px
}

.elementMarginTop {
	margin-top: 30px
}

.marginAllSites {
	margin: 30px
}

.noMargin {
	margin: 0
}

.marginRight {
	margin-right: 5px
}

.marginRightBig {
	margin-right: 20px !important;
}

.marginBottom {
	margin-bottom: 30px
}

.marginBottomSmall {
	margin-bottom: 5px
}

.headerBorderDetail {
	border-bottom: 10px solid
}

.capitalize {
	text-transform: capitalize;
	font-weight: bold;
}

.capitalizeFirstLetter:first-letter {
	text-transform: capitalize
}

.fontSize24 {
	font-size: 24px
}

.colorWhite {
	color: white !important;
}

.floatingActionButton {
	position: fixed;
	right: 30px;
	bottom: 30px
}

.positionFixedTop {
	position: fixed !important;
	top: 0
}

.paperPadding {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 84px;
	padding-top: 20px;
}

.fixMarginRight {
	margin-left: 25px !important
}

.tableWrapper {
	width: 100%;
	overflow: auto;
	margin-bottom: 20px;
}

.eventTable {
	width: 100%;
	border-spacing: 0
}

.iconSize100 {
	width: 100px;
	height: 100px;
}

.queryButton {
	padding: 0 !important;
	height: 24px !important;
	vertical-align: middle !important;
	text-align: center;
}