$COLOR-success: #9FAB61;
$COLOR-success-light: #B1BE6C;
$COLOR-warning: #EF9D6E;
$COLOR-warning-light: #F0A57B;
$COLOR-error: #D33F49;
$COLOR-error-light: #DF737A;
$COLOR-font-light: #F1F7ED;
$COLOR-dark-background: #004E64;

$ICON-errorQuantity: '\f3e5';
$ICON-serialNumber: '\f44c';
$ICON-date: '\f3f3';
$ICON-quantity: '\f44f';