@font-face { font-family: "Ionicons";
	src: url("./assets/fonts/icons/ionicons.eot");
	src: url("./assets/fonts/icons/ionicons.eot#iefix") format("embedded-opentype"),
	url("./assets/fonts/icons/ionicons.ttf")	format("truetype"),
	url("./assets/fonts/icons/ionicons.woff") format("woff"),
	url("./assets/fonts/icons/ionicons.svg#Ionicons") format("svg");
	font-weight: normal; font-style: normal;
}

$COLOR-success: #9FAB61;
$COLOR-success-transparent: rgba(159, 171, 97, 0.4);
$COLOR-success-light: #B1BE6C;
$COLOR-warning: #EF9D6E;
$COLOR-warning-transparent: rgba(239, 157, 110, 0.4);
$COLOR-warning-light: #eeae8a;
$COLOR-error: #D33F49;
$COLOR-error-transparent: rgba(211, 63, 73, 0.4);
$COLOR-error-light: #df5a5a;
$COLOR-font-light: #F1F7ED;
$COLOR-font-dark: #132328;
$COLOR-dark-background: #004E64;
$COLOR-undefined: #666666;
$COLOR-undefined-transparent: rgba(102, 102, 102, 0.4);
$COLOR-dark_background-transparent: rgba(0, 78, 100, 0.5);
$ICON-errorQuantity: '\f3e5';
$ICON-serialNumber: '\f44c';
$ICON-date: '\f3f3';
$ICON-quantity: '\f44f';


$element-margin-bottom: 30px;
$uhd-element-margin-bottom: 100px;

$highlight-shadow: 0 0 5px 0 rgba(0,0,0,0.75);

@mixin dropdown-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}