$COLOR-success: #7CB342;
$COLOR-success-light: #689F38;
$COLOR-warning: #FFB300;
$COLOR-warning-light: #FFA000;
$COLOR-error: #F4511E;
$COLOR-error-light: #E64A19;
$light-grey: #E8E8E8;
$grey: #BDBDBD;
$black: #212121;

$ICON-errorQuantity: '\f3e5';
$ICON-serialNumber: '\f44c';
$ICON-date: '\f3f3';
$ICON-quantity: '\f44f';