.primary-color {
	background-color: #004E64 !important;
}

.primary-border-color {
	border-color: #004E64 !important;
}

.secondary-color {
	background-color: #007b9d !important;
}

.secondary-border-color {
	border-color: #007b9d !important;
}

.tertiary-color {
	background-color: #001c24 !important;
}

.tertiary-border-color {
	border-color: #001c24 !important;
}