@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "assets/scss/big-grid";
@import "~bootstrap/scss/bootstrap-grid";
@import "App/App";
@import "DashboardView/DashboardView";
@import "Loader/Loader";
@import "ProductView/ProductView";
@import "Notification/Notification";
@import "Utils/RemovableInputField";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.6vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  #root {
    height: 100%;
  }
  /* Typography */
  h1, p, a, a:hover {
    color: $COLOR-dark-background;
  }
  header {
    margin-bottom: $element-margin-bottom;
    @include media-breakpoint-up(uhd) {
      margin-bottom: $uhd-element-margin-bottom;
    }
    @include dropdown-shadow($highlight-shadow);
    .dashboard-title {
      margin: 10px 0;
      @include media-breakpoint-up(uhd) {
        margin: 20px 0;
      }
    }
  }
  @include media-breakpoint-down(xs) {
    h4 {
      font-size: 15px;
    }
  }
  @include media-breakpoint-up(uhd) {
    h1 {
      font-size: 80px;
    }
    h4 {
      font-size: 35px;
    }
    .input-group {
      i, input {
        font-size: 35px;
      }
    }
  }
}