.error svg .status-point {
  fill: $COLOR-error;
}

.warning svg .status-point {
  fill: $COLOR-warning;
}

.running svg .status-point {
  fill: $COLOR-success;
}

.undefined svg .status-point {
  fill: $COLOR-undefined;
}

.status-point-shadow {
  fill: rgba(0, 0, 0, 0.1);
}
.status-point {
  width: 40px;
  height: 40px;
  @include media-breakpoint-up(uhd) {
    width: 100px;
    height: 100px;
  }
}