@import "StatusPoint/StatusPoint";
@import "ConfigurationHeader/ConfigurationHeader";

header {
	h1, p, a, a:hover {
		color: $COLOR-font-light !important;
	}
	#productHeader {
		background-color: $COLOR-dark-background;
	}
	#configurationHeader {
		background-color: $COLOR-dark_background-transparent;
		color: $COLOR-font-light;
	}
	.home-button {
		font-size: 30px;
		@include media-breakpoint-up(uhd) {
			font-size: 90px;
		}
	}
}
