@import "StatusPoint/StatusPoint";
@import "ConfigurationHeader/ConfigurationHeader";

header {
	padding: 5px 0px;

	h1, p, a, a:hover, .form-group {
		color: $COLOR-font-light !important;
	}
	.home-button {
		font-size: 50px;
		@include media-breakpoint-up(uhd) {
			font-size: 120px;
		}
	}
	.form-group {
	  margin: 0 10px 5px 10px;
	}

	select {
	  background-color: inherit;
	  color: $COLOR-font-light;
	  border-style: none;
	  width: auto;
	  padding: 10px 10px;
	}

	select:disabled {
		color: $COLOR-dark_background;
	}

	[type=checkbox] {
		margin: 14px 10px 10px 10px;
	}

	option {
	  background-color: $COLOR-dark_background;
	}

	label {
	  margin-right: 5px;
	}
}
