@import "StatusPoint/StatusPoint";

header {
	h1, p, a, a:hover {
		color: $COLOR-font-light !important;
	}
	.home-button {
		font-size: 30px;
		@include media-breakpoint-up(uhd) {
			font-size: 90px;
		}
	}
}