.modal-header {
  background-color: $COLOR-dark-background;
}

.modal-title {
  color: white;
}

#close {
  color: white;
}

.btn{
  background-color: $COLOR-dark-background;
  border-color: $COLOR-dark-background;
  color: white;
  border-radius: 0px;
  cursor: pointer;

}